/* Font family */

body {
	font-family: "BrandonText", Arial, Helvetica, sans-serif;
}

h1,
h2 {
	font-family: 'BrandonText', 'Lato', sans-serif;
}

h3,
h4,
h5 {
	font-family: 'BrandonText', 'Lato', sans-serif;
}

strong {
	font-family: 'BrandonText', 'Lato', sans-serif;
}

/* Font sizes */

h1 {
	font-size: 25px;
	line-height: 30px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
}
h3 {
	font-size: 17px;
	line-height: 23px;
}
h4 {
	font-size: 16px;
	line-height: 22px;
}
h5 {
	font-size: 15px;
	line-height: 19px;
}
h6 {
	font-size: 14px;
	line-height: 19px;
}

body,
p {
	font-family: 'BrandonText', 'Lato', sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.text-brandon-regular {
	font-family: 'BrandonText', 'Lato', sans-serif;
	font-size: 16px;
	line-height: 22px;
}
.text-brandon-semibold{
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
	font-size: 14px;
	line-height: 19px;
}
.text-brandon-bold{
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
	font-size: 14px;
	line-height: 19px;
}

.text-italic {
	font-style: italic;
}

.title-bold {
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
	font-size: 20px;
	line-height: 24px;
}

.title-h1-bold {
	font-family: 'BrandonText', 'Lato', sans-serif;
	font-size: 25px;
	line-height: 30px;
}

.title-h2-bold {
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
    font-size: 22px;
    line-height: 30px;
}

.text-regular-14 {
	font-family: 'BrandonText', 'Lato', sans-serif;
    font-size: 14px;
    line-height: 19px;
}
.dark {
	color: var(--tdb-text-color-dark);
}
.gray {
	color: var(--tdb-text-color-gray);
}
.export{
	color: var(--tdp-secondary);
}
.text-regular-12 {
	font-family: 'BrandonText', 'Lato', sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.gray-lighter{
	color: var(--tdb-text-color-gray-lighter);
}
.text-os-semibold-16{
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
	font-size: 16px;
	line-height: 22px;
}
.default-base{
	color: var(--tdp-extra-dark);
}
.text-os-bold-17{
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
	font-size: 17px;
	line-height: 23px;
}
.underline{
	text-decoration: underline;
	cursor: pointer;
}
.text-os-semibold-12{
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.text-brandon-bold-20{
	font-family: 'BrandonText-Bold', 'Lato', sans-serif;
	font-size: 20px;
	line-height: 27.24px;
}
.courier-new-regular {
	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;
	line-height: 16px;
	color: var(--tdp-text-color);
}
