<div class="docs-container">
  <div id="swagger-ui"></div>
</div>

<script>
    window.onload = () => {
        window.ui = SwaggerUIBundle({
            url: {{.Url}},
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
            plugins: [
                SwaggerUIBundle.plugins.Topbar
            ]
        });
    };
</script>
