@import "../fonts/BrandonText-Bold.woff";
@import "../fonts/BrandonText-Bold.woff2";
@import "../fonts/BrandonText-Regular.woff";
@import "../fonts/BrandonText-Regular.woff2";

@font-face {
  font-family: 'BrandonText';
  src: url('../fonts/BrandonText-Regular.woff2') format('woff2'),
  url('../fonts/BrandonText-Regular.woff') format('woff'),
  url('../fonts/BrandonText-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonText';
  src: url('../fonts/BrandonText-Bold.woff2') format('woff2'),
  url('../fonts/BrandonText-Bold.woff') format('woff'),
  url('../fonts/BrandonText-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: tykon;
  src: url('../fonts/tykon.woff2') format('woff2'),
  url('../fonts/tykon.woff') format('woff'),
  url('../fonts/tykon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
